<h2 class="task_title"><%= @task.title %></h2>
<p class="task_descript"><%= @task.description %></p>

<div id="subtasks_wrapper">
	<%= render @task.subtasks %>
	<div id="form">
		<%= render "subtasks/form" %>
	</div>
</div>